body
{
	background-image: url('../images/tl_bg.png');
	text-align: center;
	padding: 0;
}

.header
{
	margin: auto;
	padding: 0;
	height: 200px;
}

.footer
{
	margin: auto;
	padding: 0;
	height: 42px;
}

.content
{
	background-color: white;
	text-align: left;
	color: black;
	width: 800px;
	margin: auto;
	margin-bottom: 0;
	font-family: Calibri,Helvetica,FreeSans,Geneva,verdana,sans-serif;
}

.menu
{
	text-align: right;
	padding-right: 10px;
}

h1
{
	padding: 0;
	margin: 0;
	padding-right: 10px;
	padding-left: 20px;
	font-family: Calibri,Helvetica,FreeSans,Geneva,verdana,sans-serif;
}

p
{
	font-family: Calibri,Helvetica,FreeSans,Geneva,verdana,sans-serif;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	padding-left: 10px;
}

img
{
	margin: 0;
	padding: 0;
}

ol
{
	margin: 0;
	padding-bottom: 10px;
}

a:link {color: #c5841d; text-decoration: none; font-weight: bold; font-size: 14px;}
a:visited {color: #c5841d; text-decoration: none; font-weight: bold;font-size: 14px;}
a:hover {color: #c5841d}
